


 <div class="wrapper">

<!--=================================
 preloader -->
 
<!-- <div id="pre-loader">
    <img src="images/pre-loader/loader-01.svg" alt="">
</div> -->

<!--=================================
 preloader -->

 <!--=================================
 login-->

<section class="height-100vh d-flex align-items-center page-section-ptb login" >
  <div class="container">
     <div class="row justify-content-center no-gutters vertical-align">
       <!-- <div class="col-lg-4 col-md-6 login-fancy-bg bg" style="background-image: url(images/login-inner-bg.jpg);">
         <div class="login-fancy">
          <h2 class="text-white mb-20">Hello world!</h2>
          <p class="mb-20 text-white">Create tailor-cut websites with the exclusive multi-purpose responsive template along with powerful features.</p>
          <ul class="list-unstyled  pos-bot pb-30">
            <li class="list-inline-item"><a class="text-white" href="#"> Terms of Use</a> </li>
            <li class="list-inline-item"><a class="text-white" href="#"> Privacy Policy</a></li>
          </ul>
         </div> 
       </div> -->
       <div class="col-lg-4 col-md-6 bg-white">
        <div class="login-fancy pb-40 clearfix">
          <form [formGroup]="LoginForm" novalidate>
            <div class="row" id="lghead">
            </div>
            <h3 class="mb-30" align="center">Sign In To Admin</h3>
            <div class="section-field mb-20" style="height: 60px">
              
              <div class="form-group">
      
                <input type="email" formControlName="user_email" [ngClass]="{ 'is-invalid': submitted && f.user_email.errors }" class="form-control"
                placeholder="Username"  style="border-radius: 20px">
            <div *ngIf="submitted && f.user_email.errors" class="invalid-feedback">
                <div *ngIf="f.user_email.errors.required">User name is required</div>
                </div>
            </div>
            </div>
            <div class="section-field mb-20" style="height: 60px">
              <div class="form-group">
                <input type="password" formControlName="user_password" [ngClass]="{ 'is-invalid': submitted && f.user_password.errors }"
                    class="form-control" placeholder="Passoword" required="" style="border-radius: 20px">
                <div *ngIf="submitted && f.user_password.errors" class="invalid-feedback">
                    <div *ngIf="f.user_password.errors.required">Password is required</div>
                </div>
            </div>
            </div>
          
         
              <button type="button" (click)="onLogin()" class="btn btn-primary" style="width: 100%;height: 44px;">Login</button>
           
          </form>
       
             <!-- <p class="mt-20 mb-0">Don't have an account? <a href="register.html"> Create one here</a></p> -->
          </div>
        </div>
      </div>
  </div>
</section>

<!--=================================
 login-->
  
</div>

 
    <!-- <div class="col-lg-4 col-md-6 bg-white">
      <div class="login-fancy pb-40 clearfix">
        <form [formGroup]="LoginForm" novalidate>
          <div class="row" id="lghead">
          </div>
          <h3 class="mb-30" align="center">Sign In To Admin</h3>
          <div class="section-field mb-20" style="height: 60px">
            <label class="mb-10" for="name">User name* </label> -->
            <!-- <div class="form-group">
    
              <input type="email" formControlName="user_email" [ngClass]="{ 'is-invalid': submitted && f.user_email.errors }" class="form-control"
              placeholder="Username"  style="border-radius: 20px">
          <div *ngIf="submitted && f.user_email.errors" class="invalid-feedback">
              <div *ngIf="f.user_email.errors.required">User name is required</div>
              </div>
          </div>
          </div>
          <div class="section-field mb-20" style="height: 60px">
            <div class="form-group">
              <input type="password" formControlName="user_password" [ngClass]="{ 'is-invalid': submitted && f.user_password.errors }"
                  class="form-control" placeholder="Passoword" required="" style="border-radius: 20px">
              <div *ngIf="submitted && f.user_password.errors" class="invalid-feedback">
                  <div *ngIf="f.user_password.errors.required">Password is required</div>
              </div>
          </div>
          </div>
        
       
            <button type="button" (click)="onLogin()" class="btn btn-primary" style="width: 100%;height: 44px;">Login</button>
         
        </form>
      </div>
    </div>  -->

