<div class="page-title">
  <div class="row">
      <div class="col-sm-6">
          <h4 class="mb-0"> Maps</h4>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb pt-0 pr-0 float-left float-sm-right ">
          <li class="breadcrumb-item"><a href="#" class="default-color">Home</a></li>
          <li class="breadcrumb-item active">Maps</li>
        </ol>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-md-6 mb-30">
   <div class="card h-100">
     <div class="card-body">
       <h5 class="card-title"> World Map </h5>
       <div id="world-map-markers" style="height: 500px"></div>
     </div> 
   </div> 
  </div>
  <div class="col-md-6 mb-30">
   <div class="card h-100">
     <div class="card-body">
       <h5 class="card-title"> USA </h5>
         <div id="usa" style="height: 500px"></div>
     </div> 
   </div> 
  </div>

</div>